/*颜色来源Web安全色 http://www.bootcss.com/p/websafecolors/*/

.color-blue-1{
	color: #0066CC;
}
.color-blue-2{
	color: #0066FF;
}
.color-blue-3{
	color: #0099FF;
}
.color-blue-4{
	color: #00CCFF;
}

.color-red-0{
	color: #FF3333;
}

.color-fonticon{
	color:rgb(204, 204, 204);
}
.color-primary{
	color:#286090;
}
.color-warning{
	color:#d58512;
}
.color-danger{
	color:#d43f3a;
}
.color-info{
	color:#46b8da;
}
.color-success{
	color:#4cae4c;
}