<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <link rel="stylesheet" th:href="@{/static/css/dist/css/bootstrap.min.css}" />
    <script th:src="@{/static/js/jquery-3.1.0.min.js}"></script>
    <script th:src="@{/static/css/dist/js/bootstrap.min.js}"></script>
    <title>Spring Security Example </title>
    <meta charset="UTF-8">
    <title>无权访问</title>
</head>
<body>
    <div style="height: 400px;">
            <h2 style="text-align:center;height: 200px;line-height: 200px">无权访问</h2>
    </div>
</body>
</html>